.left
{
    float: left;
}

.right
{
    float: right;
}

#turing-app
{
    position: fixed;
    top: 0;
    left: 0; 

    width: 100%;
    height: 100%;
}

nav
{
    width: 100%;
    height: 50px;

    color: white; 
    background-color: rgba(0, 0, 0, .8);
}
nav:after
{
    display: block;
    clear: both; 

    content: '';
}

#draw-canvas
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: calc(100% - 50px - 50px); 

    background: url('../img/tiny_grid.png') repeat;
}
#draw-canvas .state
{
    position: absolute;
    z-index: 100; 
    top: 0;
    left: 0;

    display: block;

    width: 50px;
    height: 50px;

    border: #3498db 5px solid;
    border-radius: 25px;
    background-color: rgba(236, 240, 241, .7);
}
#draw-canvas .transition
{
    position: absolute; 
    z-index: 90;
}

#toolbar
{
    width: 100%;
    height: 50px;

    color: white; 
    background-color: rgba(0, 0, 0, .8);
}
#toolbar:after
{
    display: block;
    clear: both; 

    content: '';
}

#config-pane
{
    position: fixed;
    z-index: 200; 
    top: 75px;
    right: 25px;

    width: 300px;
    padding: 10px;

    border: #95a5a6 4px solid;
    border-radius: 10px;
    background-color: rgba(236, 240, 241, .5);
}

.selected
{
    -webkit-box-shadow: 0 0 20px 0 cyan;
            box-shadow: 0 0 20px 0 cyan;
}
