body {
  
}

.left {
  float: left;
}

.right {
  float: right;
}

@mixin clear {
  display: block;
  content: "";
  clear: both;
}

#turing-app {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

nav {
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.8);
  color: white;

  &:after {
    @include clear;
  }
}

#draw-canvas {
  background: url('../img/noisy_grid.png') repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 50px - 50px);

  .state {
    width: 50px;
    height: 50px;
    background-color: rgba(236, 240, 241, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    border: #3498db 5px solid;
    display: block;
    z-index: 100;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }

  .transition {
    z-index: 90;
    position: absolute;
  }

}

#toolbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.8);
  color: white;

  &:after{
    @include clear;
  }
}

#config-pane {
  width: 400px;
  position: fixed;
  top: 75px;
  right: 25px;
  padding: 10px;
  background-color: rgba(236, 240, 241, 0.5);
  border-radius: 10px;
  border: #95a5a6 4px solid;
  z-index: 200;
}

.selected {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,255,255,1);
  box-shadow: 0 0 20px 0 rgba(0,255,255,1);
}

